.card {
    box-shadow: 2px 5px 5px rgb( 5, 94, 105 ) !important;
    border-top-left-radius: 10px !important;
    background-color: rgb( 241, 248, 248 ) !important;
}

body {
    background-color: brown;
}